*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  font-family: "Martel Sans", sans-serif;
  font-weight: 700;
  color: white;
}

/* Remove default margin in favour of better control in authored CSS */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
  margin: 0;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

.app {
  height: 100vh;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2em;
  text-align: center;
  width: 100%;
  position: absolute;
  z-index: 10;
}

header p {
  font-size: 1.5em;
  font-weight: 700;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  text-align: center;
}

main {
  height: 100%;
  position: relative;
  overflow: hidden;
}
.wrapper {
  width: 100%;
  height: 150%;
}

.lost {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2em;
  text-align: center;
  width: 100%;
  background-size: cover;
  background-position: 50%;
  position: relative;
  height: 33.33333%;
  float: left;
}

.container p {
  font-size: 18px;
}

.top {
}

h2 {
  font-size: 34px;
}

h3 {
  font-size: 34px;
  margin: 0;
}

.bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0.625rem 0;
}

button {
  border: 0.125rem solid white;
  background-color: transparent;
  margin: 0 auto 10px;
  padding: 10px;
  padding-right: 50px;
  border-radius: 2.5rem;
  color: #fff989;
  width: 12.5rem;
  font-size: 18px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  color: black;
}

.button {
  border: 0.125rem solid white;
  background-color: transparent;
  margin: 0 auto 10px;
  padding: 10px;
  border-radius: 2.5rem;
  color: #fff989;
  width: 12.5rem;
  font-size: 18px;
  cursor: pointer;
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5em;
  }
  .right {
    padding: 1em;
  }

  .wrapper {
    width: 150%;
    height: 100%;
  }

  .container {
    width: 33.33333%;
    height: 100%;
  }

  .carousel-enter {
    transform: translateX(-100%); /* Adjust for desired initial position */
  }

  .carousel-enter-active {
    transform: translateX(-100%);
  }
  .carousel-exit {
    transform: translateX(-100%);
  }

  .carousel-exit-active {
    transform: translateX(-100%); /* Adjust for desired exit direction */
  }

  h2 {
    font-size: 6vh;
  }

  h3 {
    font-size: 8.5vh;
  }
  p {
    font-size: 18px;
  }

  button {
    padding: 16px 50px 16px 16px;
  }
}
